In [1]:
# 의사결정나무(Decision Tree)
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import plot_tree
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

In [11]:
df = pd.read_csv('./day04_data/otto_train.csv')
df

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
0,1,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1
1,2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
2,3,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
3,4,1,0,0,1,6,1,5,0,0,...,0,1,2,0,0,0,0,0,0,Class_1
4,5,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,Class_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61873,61874,1,0,0,1,1,0,0,0,0,...,1,0,0,0,0,0,0,2,0,Class_9
61874,61875,4,0,0,0,0,0,0,0,0,...,0,2,0,0,2,0,0,1,0,Class_9
61875,61876,0,0,0,0,0,0,0,3,1,...,0,3,1,0,0,0,0,0,0,Class_9
61876,61877,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,3,10,0,Class_9
61877,61878,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,Class_9

In [6]:
df['target'].unique()

array(['Class_1', 'Class_2', 'Class_3', 'Class_4', 'Class_5', 'Class_6',
       'Class_7', 'Class_8', 'Class_9'], dtype=object)

In [13]:
df = df.drop(['id'], axis=1)
mapping_dict = {"Class_1": 1,
                "Class_2": 2,
                "Class_3": 3,
                "Class_4": 4,
                "Class_5": 5,
                "Class_6": 6,
                "Class_7": 7,
                "Class_8": 8,
                "Class_9": 9
                }
after_mapping_target = df['target'].apply(lambda x: mapping_dict[x])
set(after_mapping_target)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [14]:
feature_columns = list(df.columns.difference(['target']))
x = df[feature_columns]
y = after_mapping_target
train_x, test_x, train_y, test_y = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [21]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=200,        # 나무수
                            max_depth=50,            # 한 나무가 가질 수 있는 최대 깊이수
                            random_state=112)
m = rf.fit(train_x, train_y)
predict = m.predict(test_x)

print(accuracy_score(test_y, predict))

0.8123787976729153

In [16]:
confusion_matrix(test_y, predict)

array([[   0,  191,    0,    0,    0,   65,    0,  119,   24],
       [   0, 3124,    0,    0,    0,   36,    0,   17,    1],
       [   0, 1510,    0,    0,    0,   25,    0,   25,    1],
       [   0,  497,    0,    0,    0,   41,    0,    0,    0],
       [   0,  433,    0,    0,   75,   46,    0,   11,    0],
       [   0,  206,    0,    0,    0, 2605,    0,   65,    8],
       [   0,  348,    0,    0,    0,   77,    0,  126,    1],
       [   0,  330,    0,    0,    0,  175,    0, 1165,    4],
       [   0,  524,    0,    0,    0,  136,    0,  137,  228]])