In [2]:
# 판다스 데이터프레임 활용
import pandas as pd

print(pd.__version__)

1.4.2

In [6]:
df = pd.DataFrame([29, 11, 124, 503, 22, 201], columns=['nums'])
df

   nums
0    29
1    11
2   124
3   503
4    22
5   201

In [10]:
print("This price is %d" % 1000)

This price is 1000