In [1]:
x = 5
y = '2'

print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [4]:
print("Hello World")
print('hello WoORLD')
print('He\'s')

Hello World
hello WoORLD
He's

In [1]:
#Index Slicing

x = "abcdefg"
x[1:5]

'bcde'

In [3]:
list_z = ['a','b','c','d','e','f','g']

list_z[-1]

'g'

In [11]:
# Dictionary
dict = {}
dict['국어'] = 50
dict['수학'] = 100

print(dict.keys())
print(dict.values())
print(dict)

dict_keys(['국어', '수학'])
dict_values([50, 100])
{'국어': 50, '수학': 100}

In [12]:
if len(x) == 4: print(x)
else: print(list_z)

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [20]:
x = 5
n = 12
while(x > 0):
    x = x + 1
    if(n % x == 1):
        break
    
print(x)

11

In [22]:
answer = 0
n = 10
x = 1

for x in range(n):
    x += 1
    if (n % x == 1):
        break

print(x)

3

In [75]:
import numpy as np
import tensorflow as tf
import pandas as pd

pd.DataFrame([1,1,4])

   0
0  1
1  1
2  4

In [2]:
import pandas

In [3]:
import numpy

In [6]:
import tensorflow as tf
print(tf.__version__)

2.13.0

In [81]:
set_z = set(['a','a','b'])
set_z

{'a', 'b'}

In [80]:
# 데이터 타입 알아보는법
type(set_z)

set

In [30]:
# 문제1: 문자열 슬라이스와 주어진 문자열 비교하여 작은 수 찾기

t = "584939204"
p = "500"
numList = []
answer = []

for i in range(len(t)):
    if (i + 3 < len(t)):
        numList.append(t[i:i+3])
print(numList)

for i in range(len(numList)):
    for j in range(len(t)):
        if(numList[i] <= p):
            answer.append(numList[i])
            break

print(answer)

['584', '849', '493', '939', '392', '920']
['493', '392']

In [82]:
# 선임분 코드

def test1(t, p):
    stack = []
    for i in range(len(t) - len(p) + 1):
        if t[i:i+len(p)] <= p:
            stack.append(t[i:i+len(p)])

    return stack

In [83]:
test1('3141592', '271')

['141', '159']

In [73]:
# 문제3: 뒷큰수 배열에 담기

numbers = [2,3,3,5]
result = []

for i in range(len(numbers)):
    search = True
    for j in range(i, len(numbers)):
        if (numbers[i] < numbers[j]): 
            result.append(numbers[j])
            search = True
            break
        elif(numbers[i] >= numbers[j]): 
            search = False
    if (search == False): result.append(-1)

print(result)

[3, 5, 5, -1]

In [84]:
# 선임분 코드
answer = []
stack = [2,3,3,5]
answer = [-1 for i in range(len(numbers))]

for i, ele in enumerate(numbers):
    while stack and numbers[stack[-1]] < numbers[i]:
        answer[stack.pop()] = numbers[i]

    stack.append(i)

answer

IndexError: list index out of range

In [ ]:
# 시간 복잡도(빅오표기법)