In [2]:
# 판다스 데이터프레임 활용
import pandas as pd

print(pd.__version__)

1.4.2

In [6]:
df = pd.DataFrame([29, 11, 124, 503, 22, 201], columns=['nums'])
df

   nums
0    29
1    11
2   124
3   503
4    22
5   201

In [10]:
print("This price is %d" % 1000)

This price is 1000

In [15]:
numbers = [1,2,3,4,5]
squares = map(lambda x: x ** 2, numbers)
print(list(squares))

[1, 4, 9, 16, 25]

In [137]:
from functools import reduce

numbers = [1,2,3,4,5,6]
counts = [10,9,8,7,6,5]

result = reduce(lambda x,y: x * y, numbers)
print(result)

720

In [125]:
numbers = [1,2,3,4,5]
numbers2 = [3,4,5,6,7]

cal = map(lambda x,y: x ** y, numbers, numbers2)
print(list(cal))
print(list(map(lambda x,y: x * y, numbers, numbers2)))

[1, 16, 243, 4096, 78125]
[3, 8, 15, 24, 35]

In [43]:
def solution(new_id):
    error = ['-', '_', '.']
    result = new_id.lower()
    for i in range(len(result)):
        if result[i] in error:
            result.replace(error[0], "")
    answer = result
    return answer

print(solution("Eifjslfj@---#%@%6dkfjaiweEFAWJFIDJF"))
print(len(solution("Eifjslfj@#%@%6dkfjaiweEFAWJFIDJF")))

eifjslfj@---#%@%6dkfjaiweefawjfidjf
32

In [44]:
test = "----eijfAWEFJ@#!#%jeiFAE"
test.replace("-", "0")

'0000eijfAWEFJ@#!#%jeiFAE'

In [ ]:
def solution(new_id) :
    result = new_id.lower()
    for i in range(len(result)):

In [24]:
print(ord('A'))
print(ord('z'))

65
122

In [ ]:
# [프로그래머스]신규 아이디 추천 문제 풀이(정규표현식 없이)
# https://school.programmers.co.kr/learn/courses/30/lessons/72410?language=python3

def solution(new_id):
    answer = ''
    
    #1
    new_id = new_id.lower()
    
    #2
    for s in new_id:
        if (s.isdigit() or s.isalpha() or s in ['-','_','.']):
            answer += s
    new_id = answer

    #3
    while '..' in new_id:
        new_id = new_id.replace('..', '.')

    #4
    if new_id[0] == '.' and new_id :
        new_id = new_id[1:]
    if new_id[-1] == '.' and new_id :
        new_id = new_id[:-1]

    #5
    if len(new_id) == 0:
        new_id = 'a'

    #6 
    if len(new_id) >= 16:
        new_id = new_id[:15]
        if new_id[-1] == '.':
            new_id = new_id[:-1]

    #7
    while len(new_id) < 3:
        s = new_id
        new_id = s + new_id[-1]

    answer = new_id
    return answer

In [111]:
# 정규표현식(Regular Expression)
import re

def solution(new_id) :
    #1
    new_id = new_id.lower()
    print("case1: " + new_id)

    #2
    new_id = re.sub('[^0-9a-z\-_.]*', "", new_id)
    print("case2: " + new_id)

    #3
    new_id = re.sub('[.]+', ".", new_id)
    print("case3: " + new_id)

    #4
    new_id = re.sub('^[.]|[.]$', "", new_id)
    print("case4: " + new_id)

    #5
    if new_id == '':
        new_id += 'a'
    print("case5: " + new_id)
    
    #6
    if len(new_id) >= 16:
        new_id = new_id[:15]
        if new_id[-1] == '.' :
            new_id = re.sub('[.]$', "", new_id)
    print("case6: " + new_id)

    #7
    if len(new_id) <= 2:
        while(len(new_id) < 3):
            new_id += new_id[-1]
    print("case7: " + new_id)

    test = re.findall(r'^e&a$', "asdf.eijfa.efwef")
    print(test)

    answer = new_id
    return answer

solution("...!@BaT#*..y.abcdefghijklm")
# solution(".=.=.")

case1: ...!@bat#*..y.abcdefghijklm
case2: ...bat..y.abcdefghijklm
case3: .bat.y.abcdefghijklm
case4: bat.y.abcdefghijklm
case5: bat.y.abcdefghijklm
case6: bat.y.abcdefghi
case7: bat.y.abcdefghi
[]

'bat.y.abcdefghi'

In [119]:
import re
data = "asdfa wefj.iefjaoijd.lsdkjfawoiefj.."
test = re.findall('^.(.*?)\.$', data)
print(test)

['sdfa wefj.iefjaoijd.lsdkjfawoiefj.']

In [142]:
from functools import reduce

numbers = [1,2,3,4,5]
result = reduce(lambda x,y: x + y, numbers)
result
# 15

15